.logo img{
    margin-top:-30%;
    height:50px;
}
.navbar {
    margin-bottom: 0;
    background-color: #337ab7;
    font-size:small !important;
    letter-spacing: 4px;
    font-family:"Helvetica Neue", cursive, Helvetica, Arial, sans-serif;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #00f !important;
    background:#dcdc01 !important;
    border-bottom: 2px solid #fff;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    background-color: #555555 !important;
    color:#ffffff !important;
}

.slider{

}

.name{
    margin-top:-10px;
    color:#ffff00;
    padding-top:3px;
}

.index_container{
    background:#eeeeee;
    padding:0% 9% 9% 9%;
}

.index_main{
    background:#ffffff;
    padding:3% 3% 3% 3%;
    box-shadow: 0px 6px 9px 0 rgba(0, 0, 0, 0.4), 5px 4px 6px 5px rgba(0, 0, 0, 0.19);
}
.tab-content{
    font-family: cursive;
    font-size:15px;
    word-spacing:9px;
}

.tab-content ul li{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tabs{
    font-size:large;
    padding:1px 10px 1px 1px;
    font-family: fantasy;
}

.tabs .active a{
    background:#dcdc01;
}

.director_img{

}

.abt{
    border-right: 1px solid gray;
    padding:1% 5% 1% 1%;
}

.news-header{
    font-family: fantasy;
    color: #ffffff;
    background:#337ab7;
    padding:2% 1% 2% 1%;
}
.news-main{
    color:#777777;
    font-family:cursive;
}

.news-main:hover{
    color: #286090;
    text-decoration: none;
}
.footer{
    background:#232323;
    padding:3% 2% 2% 2%;
    color:#ffffff;
}

/** Styling for the about page **/
.about_container{
    background:#eeeeee;
    padding:9% 9% 9% 9%;
}
.about_main{
    background:#ffffff;
    padding:3% 3% 3% 3%;
    box-shadow: 0px 6px 9px 0 rgba(0, 0, 0, 0.4), 5px 4px 6px 5px rgba(0, 0, 0, 0.19);
}

/** Styling for Staff Page **/
.staff_container{
    background:#eeeeee;
    padding:8% 8% 8% 8%;
}
.staff_main{
    background:#ffffff;
    padding:4% 5% 4% 5%;
    box-shadow: 0px 6px 9px 0 rgba(0, 0, 0, 0.4), 5px 4px 6px 5px rgba(0, 0, 0, 0.19);
    text-align: center;
}
.staff_row{
    margin:2px 2px 2px 2px;
}

.staff_member{
    box-shadow: 0px 6px 9px 0 rgba(0, 0, 0, 0.4), 5px 4px 6px 5px rgba(0, 0, 0, 0.19);
    margin:4% 4% 4% 3%;
    padding: 2% 2% 3% 2%;
    background:#efefef;
}
/***************************************************
/                                                   /
/                 BIO_LAB PAGE                        /
/***************************************************/
.bl-body{
    background:#efefef;
    background-size:cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position:absolute;
    width:100%;
    height:100%;
    z-index: -33;
}
.about-wrapper{
    background-color: white;
    width: 73%;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

.img-div{
    padding: 50px;
    border-right: 1px solid #337ab7;
}


.cl-body{
    background-image: url("../images/bg1.jpg");
    background-size:cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position:absolute;
    width:100%;
    height:100%;
    z-index: -33;;
}

/**************************************************************************/
/*          Styling for Equipments Page                                    */
/*                                                                         */
/***************************************************************************/
.equipments_container{
    background:#eeeeee;
    padding:8% 8% 8% 8%;
}
.equipments_main{
    background:#ffffff;
    padding:4% 5% 4% 5%;
    box-shadow: 0px 6px 9px 0 rgba(0, 0, 0, 0.4), 5px 4px 6px 5px rgba(0, 0, 0, 0.19);
    text-align: center;
}
.equipments_row{
    margin:2px 2px 2px 2px;
}

.equipments_member{
    box-shadow: 0px 6px 9px 0 rgba(0, 0, 0, 0.4), 5px 4px 6px 5px rgba(0, 0, 0, 0.19);
    margin:4% 4% 4% 3%;
    padding: 2% 2% 3% 2%;
    background:#efefef;
}